<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<meta http-equiv="Cache-Control" content="no-cache" />
<meta http-equiv="Expires" content="-1" />
<title>查看合作院校--EZ4Agent</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/share.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/common.css">


<script src="__PUBLIC__/js/jquery.js" type="text/javascript"></script>
<script src="__PUBLIC__/front/js/common.js" type="text/javascript"></script>
<script src="__PUBLIC__/front/js/gobal.js" type="text/javascript"></script>
<script src="__PUBLIC__/front/js/school.js" type="text/javascript"></script>
<!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5.js"></script>
<![endif]-->
</head>
<body>
<section class="main_wrap main_wrap_inner">
	<!--公用方法-->
    <include file="Public:menu" />
    <section class="content_wrap clearfix">
    <!--左边-->
    <div class="content_left fl">
	<include file="Public:college_left" />
	</div>
	<!--右边-->
    <div class="content_right fr">
    	<div class="con_item">
    		 <h2 class="con_item_tit clearfix"><em class="font18 ffyh">{$info.ename}</em></h2>
    		 <div class="con_item_c clearfix">
					<div class="">
						<div class="c_tem message_rc">
							<div class="c_tem_text fl">
								<span>基本信息</span>
							</div>	
                            <div class="c_tem_text fl" style="float:right">
							 	<p><input class="updatabtn" value="取消合作院校" type="button" onClick="cancel_partner({$info['college_id']},'{:U('Home/School/cancel_partner')}');" /> 
                                </p>
                            </div>						
						</div>
						<div class="add_school baseInfor">
                            <div class="scol_texts_show" style="display:block;">
                                <table width="100%">
                                    <tr>									
                                        <td height="20px;" width="50%">院校名称：{$info.cname}</td>
                                        <td height="20px;" width="50%">英文名称：{$info.ename}</td>
                                    </tr>
                                    <tr>									
                                        <td height="20px;" colspan="2">所&nbsp;&nbsp;在&nbsp;&nbsp;地：{$info.city_name} , {$info.area_name} , {$info.country_name}</td>
                                    </tr>
                                    <tr>
                                        <td height="20px" colspan="2">官&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;网： 
                                        <a href="{$info.website}" target="_blank">{$info.website}</a></td>
                                    </tr>
                                    
                                    <tr>									
                                        <td colspan="2"><p style="margin-bottom:5px;">院校简介：</p>{$info.introduction}</td>
                                    </tr>
                                     <tr>
                                        <td height="20px" colspan="2">学&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;历： 
                                         <volist name="info.edu" id='vo'>
                                      		<span style=" font-weight:bold">{$vo['name']}</span>&nbsp;&nbsp;&nbsp;
                                      	</volist>
                                        </td>
                                    </tr> 
                                </table> 
                            </div>
                        </div>
                        <form id="share_value">
                        <div class="c_tem message_rc">
							<div class="c_tem_text fl">
								<span>分享信息</span>
							</div>
                        </div>
                        <div class="baseInfor" style="padding: 0">

                        	<div class="div_inTab" style="margin: 0">
                           
                        		<table width="100%">
                                <thead>
                                    <tr>
                                        <th width="15%" height="50px"><strong>学 历</strong></th>
                                        <td width="20%" height="50px"><strong>支付方式</strong></td>
                                        <td width="50%" height="50px" style="padding:0px;">
                                            <div style=" width:100%; height:20px; border-bottom:1px #eee solid; padding:5px 0 3px 0;">
                                                <span><strong>佣金分享</strong></span>
                                            </div>
                                            <table width="100%" style="border:1px #eee solid">
                                            <tr>
                                            <th width="25%" height="20px">百分比</th>
                                            <th width="25%" height="20px">长度</th>
                                                <th width="25%" height="20px">规则</th>
                                                <th width="25%" height="20px">固定金额</th>
                                            </tr>
                                            </table>
                                        </td>
                                        <td width="15%" height="50px"><strong>周期</strong></td>
                                    </tr> 
                                </thead>
                                 <volist name='commission' id="vo4">
                                  <tr>
                                      <td>
                                          <strong>{$vo4['education_name']}</strong>
                                          <input type="hidden" name="education_id[{$vo4['education_id']}]"  value="{$vo4['education_id']}" />
                                          <input type="hidden" name="commission_id[{$vo4['education_id']}]"  value="{$vo4['commission_id']}" />
                                      </td>
                                      <td>
                                          <select class="address_gj" name="payment_type[{$vo4['education_id']}]" education_id="{$vo4[education_id]}">
                                              <option value="">==请选择==</option>
                                              <volist name="paytype" id="vo" k="key">
                                                  <option value="{$key}" <if condition="$vo4['payment_type'] eq $key">selected </if>>{$vo}</option>
                                              </volist>
                                          </select>
                                      </td>
                                      <td style="padding: 0">
                                          <table width="100%">
                                              <tr>
                                                  <th width="25%" style="border: none">
                                                    <input class="baseInfor_input1"  style="width:20px" type="text" name="sharing_ratio[{$vo4['education_id']}]" value="{$vo4['sharing_ratio']}" /> %
                                                  </th>
                                                  <th width="25%" style="border: none" id="length_{$vo4['education_id']}">
                                                      <if condition="$vo4['payment_type'] gt 0 AND $vo4['payment_type'] neq 3">
                                                          <input class="baseInfor_input1"  style="width:20px" type="text" name="length[{$vo4['education_id']}]" value="{$vo4['length']}" />
                                                      <elseif condition="$vo4['payment_type'] eq 3" />
                                                          一次性
                                                      <else />
                                                          --
                                                      </if>

                                                      <if condition="$vo4['payment_type'] eq 1">
                                                          学年
                                                      <elseif condition="$vo4['payment_type'] eq 2" />
                                                          学期
                                                      </if>
                                                  </th>
                                                  <th width="25%" style="border: none">
                                                      且不高于
                                                  </th>
                                                  <th width="25%" style="border: none">
                                                      $ <input class="baseInfor_input1"  style="width:45px" type="text" name="set_price[{$vo4['education_id']}]" value="{$vo4['set_price']}" />
                                                  </th>
                                              </tr>
                                          </table>
                                      </td>
                                      <td width="25%" height="25px">
                                      <input class="baseInfor_input2" style="width:25px" type="text" name="cycle[{$vo4['education_id']}]" value="{$vo4['cycle']}" /> 周
                                      </td>
                                  </tr>
                                  </volist>
                                </table>
                                </div>


                        </div>
                            <!--
                        <div class="c_tem message_rc">
                            <div class="c_tem_text fl">
                                <span>邮寄联系方式</span>
                            </div>
                        </div>
                        <div class="baseInfor">
                            <table width="100%">
                                <tbody><tr>
                                    <td width="50%" height="20px;">公司名称：{$contact.company}</td>
                                    <td width="50%" height="20px;">联系人：{$contact.contact}</td>
                                </tr>
                                <tr>
                                    <td height="20px;" colspan="2">联系方式：{$contact.telephone} {$contact.mobile}</td>
                                </tr>
                                <tr>
                                    <td height="20px" colspan="2">地址：{$contact.address}</td>
                                </tr>
                                </tbody></table>

                                <div class="blod_js">
                                    <a href="{:U('Home/Member/view')}">修改信息</a>
                                </div>

                        </div>
                        -->
                        <div class="c_tem message_rc">
                            <div class="c_tem_text fl">
                                <span>备注信息</span>
                            </div>
                        </div>
                        <div class="baseInfor">
                            <textarea class="baseInfor_input" name="share_desc" style="height: 90px;width: 100%">{$sharing_desc}</textarea>
                            <div class="blod_js">
                                    <a id="edit_value" href="javascript:void(0);">提 交</a>
                            </div>
                        </div>
                            <input name="partner_id" type="hidden" value="{$partner_id}" />
                            <input id="edit_value_url" type="hidden" value="{:U('Home/School/edit_value')}" />
                        </form>
                    </div>
				  </div>
    	</div>
    </div>
    </section>
    <include file="Public:footer" />
</section>
<script>
    //更新佣金信息
    $("#edit_value").bind('click',function(){

        var url = $("#edit_value_url").val();
        $(this).html('更新中...');

        $.ajax({

            type: "post",
            url: url,
            data: $("#share_value").serialize(),
            dataType: "json",
            success: function(data){
                if(data.status=="ok")
                {


                    if(data.has_visa == 'true'){
                        alert('更新成功！');
                        window.location.reload();
                    }else if(data.has_visa == '0'){
                        if(confirm("你愿意为对方添加澳大利亚签证服务吗？")){
                            window.location.href="{:U('Home/Member/view#editvisa')}";
                        }else{
                            alert('更新成功！,  您可以在管理页面添加澳大利亚签证服务');
                            window.location.reload();
                        }
                    }

                    return true;
                }
                else
                {
                    alert(data.msg);
                    $("#edit_value").html('更 新');
                    return false;
                }
            }
        });
    });

    $("select").on('change',function(){
        var pay_type = $(this).val();
        var target_id = $(this).attr('education_id');
        var length_coll = $('#length_'+target_id);

        if(pay_type == 3){
            length_coll.html("一次性");
        }else if(pay_type == 2){
            length_coll.html('<input class="baseInfor_input1"  style="width:30px" type="text" name="length['+target_id+']" value="" /> 学期');
        }else if(pay_type == 1) {
            length_coll.html('<input class="baseInfor_input1"  style="width:30px" type="text" name="length['+target_id+']" value="" /> 学年');
        }else{
            length_coll.html('--');
        }
    });

</script>
</body>
</html>