<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>邀请好友--EZ4Agent</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/share.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/common.css">
<script src="__PUBLIC__/js/jquery.js" type="text/javascript"></script>
<script src="__PUBLIC__/front/js/common.js" type="text/javascript"></script>
<script src="__PUBLIC__/front/js/gobal.js" type="text/javascript"></script>
<script src="__PUBLIC__/front/js/school.js" type="text/javascript"></script>

<!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5.js"></script>
<![endif]-->
    <style>
        .con_item_c p{
            padding: 15px 20px;
            line-height: 26px;
            font-size: 16px;
        }
    </style>
</head>

<body>
<section class="main_wrap main_wrap_inner">
	<!--公用方法-->
    <include file="Public:menu" />

    <section class="content_wrap clearfix">

        <div class="content_left fl">
            <div class="con_item">
                <h2 class="con_item_tit clearfix"><em class="font18 ffyh">EZ4Agent</em></h2>
                <div class="con_item_c clearfix">
                    <p>EZ4Agent -- 留学中介渠道联盟</p>

                    <p>
                    佣金几经转手，到你手里还剩多少？</br>
                    学生数量少，哪来谈判条件？</br>
                    你是否在用自己的生源壮大他人？</br>
                    单个学生产出少，生存艰难？
                    </p>
                    <p>
                        让我们联合起来，为自己而努力。</br>
                    我们要和大机构拿一样的返佣！</br>
                    赶紧邀请小伙伴们一起加入吧！
                    </p>
                </div>
            </div>
        </div>
        <div class="content_right fr">
            <div class="con_item">
                <h2 class="con_item_tit clearfix"><em class="font18 ffyh">邀请好友</em></h2>
                <div class="con_item_c clearfix">
                    <p>请复制以下信息到邮件或QQ消息</p>
                    <p style="height: 210px">
                        小伙伴，我发现了一个平台，可以拿大机构一样的返佣，赶紧加入EZ4Agent吧。</br>
                    登陆www.ez4agent.com，点击注册，输入邀请码 {$invite_code}，查看返佣信息。</br>
                    一定要关注他们的公众平台号哦，定期更新返佣信息。</br>
                    或加入qq群464239466，密码ez4agent2015。</br>
                    我已注册，等你来！
                    </p>
                </div>
            </div>
        </div>
    </section>
    <include file="Public:footer" />
</section>
</body>
</html>