<!DOCTYPE html>
<html><head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>会员信息--天道教育咨询有限公司</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/share.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/common.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/message.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/info.css">
<script src="__PUBLIC__/js/jquery.js" type="text/javascript"></script>
<script src="__PUBLIC__/front/js/common.js" type="text/javascript"></script>
<!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5.js"></script>
<![endif]-->
</head>

<body>
<section class="main_wrap main_wrap_inner">
	<!--公用方法-->
    <include file="Public:menu" />
	<section class="content_wrap clearfix">
    	<div class="con_item">
					<h2 class="con_item_tit clearfix">
                    	<em class="font18 ffyh fl">账户记录</em>
                    </h2>
                   <div class="message_table record_tab">
							<ul class="clearfix">
								<li><a href="http://crm.answer-ad.com/setup/account.html" class="active">学生位购买</a></li>
								<li><a href="http://crm.answer-ad.com/setup/Record.html">收支记录</a></li>
							</ul>
						</div>
					<div class="accountDiv" style="display:block;">
                    
                        <p class="titGlj">使用情况</p>
                        
                        
						<div>
                        	<div class="bars">
                            	<div class="bars-in"><span>20</span></div>
                                <em>100</em>
                            </div>
                            <div class="bars-text">
                            
                            	总个数：100个，已使用：20个，剩余：80个
                            </div>
                            <div class="li_goum">
                            	<ul class="clearfix">
                                	<li>
                                    	<label><input name="radios" type="radio"> 5个</label>
                                    </li>
                                	<li>
                                    	<label><input name="radios" type="radio"> 10个</label>
                                    </li>
                                	<li>
                                    	<label><input name="radios" type="radio"> 20个</label>
                                    </li>
                                	<li>
                                    	<label><input name="radios" type="radio"> 50个</label>
                                    </li>
                                	<li>
                                    	其它：<input class="baseInfor_input" type="text">
                                    </li>
                                </ul>
                            </div>
                            <div class="a_buyWz">
                            	<a href="#">购买学生位</a>
                            </div>
                        </div>
                        <p class="titGlj" style="margin-top:40px;">购买记录</p>
                        <div class="tab-top">
                            <ul class="clearfix">
                                <li>
                                    <span>购买时间</span>
                                </li>
                                <li>
                                    <span>学生位数</span>
                                </li>
                                <li>
                                    <span>付费金额</span>
                                </li>
                            </ul>
                        </div>
                        <div class="tab-list">
                            <ul class="clearfix">
                                <li>
                                    2013.05.08
                                </li>
                                <li>
                                    10
                                </li>
                                <li>
                                    200 元
                                </li>
                            </ul>
                            <ul class="clearfix">
                                <li>
                                    2013.05.08
                                </li>
                                <li>
                                    100
                                </li>
                                <li>
                                    200 元
                                </li>
                            </ul>
                        </div>
                    </div>
                    
				</div>			
    </section>
    <include file="Public:footer" />
</section>
</body>

</html>