@charset "utf-8";
/* 主体布局框架 */

html, body { width: 100%; height: 100%; overflow: hidden; margin: 0; line-height: 25px; font-family: Helvetica Neue, Microsoft Yahei, Hiragino Sans GB, WenQuanYi Micro Hei, sans-serif; font-size: 12px; background-color: #fafafa }
a { color: #07d; }
a:hover { color: #059; }
.g-head, .g-sidebar, .g-main, .g-page-head { position: absolute; left: 0; }
.g-head { width: 100%; }
.g-sidebar, .g-main { bottom: 0px; overflow: auto; }
.g-head { top: 0; height: 50px; }
.g-sidebar { top: 50px; width: 69px; }
.g-main { top: 90px; left: 70px; right: 0; }
.g-page-head { top: 50px; left: 70px; right: 0; height: 38px; }
/* 浏览器重置 */

h1, h2, h3, h4, h5, h6 { font-weight: 400; color: inherit; margin: 0 0 15px; }
h1 { font-size: 1.8em; }
h2 { font-size: 1.6em; }
h3 { font-size: 1.4em; }
h4 { font-size: 1.2em; }
h5 { font-size: 1em; }
/* 字体大小 */

.u-font-1x { font-size: 1em; }
.u-font-2x { font-size: 2em; }
.u-font-3x { font-size: 3em; }
.u-font-4x { font-size: 4em; }
.u-font-5x { font-size: 5em; }
.u-font-6x { font-size: 6em; }
/* 导航风格 */

.g-head { background: #313338; z-index: 1000 }
.m-logo, .m-logo:hover { color: #fff; font-size: 20px; background-color: #00a8e6; height: 50px; line-height: 50px; float: left; padding: 0 15px; display: block; }
.m-nav { }
.m-nav li { border-left: 1px solid #27292d; float: left; position: relative; font-size: 14px; }
.m-nav li a { color: #acadaf; display: block; float: left; height: 50px; padding: 0 15px; line-height: 50px; }
.m-nav li a:hover, .m-nav .nav-open a { background-color: #080808; color: #ddd; }
.m-pulldown { display: none; position: absolute; top: 100%; left: 0; width: 200px; margin-top: 0px; padding: 15px 0px; background: #f5f5f5; color: #444; font-size: 12px; vertical-align: top; }
.m-pulldown li { border: 0; float: none; }
.m-pulldown li a { color: #444!important; line-height: 40px; height: 40px; float: none; background: #f5f5f5!important }
.m-pulldown li a:hover { background: #00a8e6!important; color: #fff!important; }
.m-pulldown .u-divider { border-top: 1px solid #DDD; margin: 9px 15px; }
.f-fr .m-pulldown { left: auto; right: 0px; }
.u-nav-mobile { display: none; background-color: #363f44; margin-bottom: 0; color: #fff; border: 1px solid #363f44; font-size: 18px; padding: 5px 10px; position: relative; float: right; margin-right: 10px; margin-top: 8px; }
.u-nav-mobile:hover { background-color: #00a8e6 }
@media screen and (max-width: 768px) {
.g-head { position: relative; }
.u-menu-mobile { display: none; }
.u-nav-mobile { display: block; }
.m-nav { position: absolute; top: 100%; width: 100%; background-color: #e6e7e8; }
.m-nav li { float: none; border: 0; font-size: 12px; }
.m-nav li a { float: none; color: #333; line-height: 40px; height: 40px; }
.m-nav li a:hover, .m-nav .nav-open a { background-color: #7E8692; color: #fff; }
.m-nav .m-pulldown { position: relative; width: 100%; padding: 0px; font-size: 12px; }
}
@media screen and (min-width: 768px) {
.u-menu-mobile { display: block }
}
/* 边栏 */
.g-sidebar { border-right: solid 1px #cecfd0; background-color: #e6e7e8; }
.g-sidebar { }
.g-sidebar li { }
.g-sidebar li a { text-align: center; display: block; color: #3F444C; font-size: 12px; padding: 15px 0; text-align: center; }
.g-sidebar li a i { font-size: 14px; margin-bottom: 5px; }
.g-sidebar li a span { display: block; line-height: 22px; }
.g-sidebar li a:hover { background: #313338; color: #eee; }
@media screen and (max-width: 768px) {
.g-sidebar { position: absolute; width: 100%; bottom: auto; z-index: 1000; }
.g-sidebar li a { text-align: left; display: block; padding: 10px 10px; }
.g-sidebar li a:hover { background-color: #7E8692; color: #fff; }
.g-sidebar li a i { position: absolute; right: 14px; }
}
/* 面包屑 */
.g-page-head { border-bottom: 1px solid #d3d7db; border-top: 1px solid #eee; background-color: #fff; line-height: 40px; }
.g-page-head h2 { font-size: 16px; color: #666; margin: 0; font-weight: normal; margin-left: 10px; }
.g-page-head h2 span { font-size: 12px; text-transform: none; color: #999; margin: 0 10px 0 5px; }
.g-page-head h2 span::before { content: '/'; margin: 0 10px 0 5px; color: #ccc; }
.g-page-head ul { position: absolute; right: 10px; top: 0; }
.g-page-head ul li { float: left; word-wrap: normal; white-space: nowrap; }
.g-page-head ul li:before { display: inline-block; width: 20px; text-align: center; content: '\3E'; font-size: 12px; color: #ccc; font-family: \5b8b\4f53; }
.g-page-head ul li:first-child:before { content: ''; }
.g-page-head ul li a:hover { text-decoration: underline; }
/* 主体 */

.g-main { font-size: 13px; padding: 20px; }
.g-main-body { float: left; width: 100%; }
.g-main-content { margin-right: 300px; }
.g-main-sidebar { position: relative; float: right; width: 280px; margin-left: -280px }
@media screen and (max-width: 768px) {
.g-main { left: 0; }
.g-page-head { position: static; left: 0; }
.g-page-head ul { display: none }
}
@media screen and (max-width: 1023px) {
.g-main-content { margin: 0; margin-bottom: 20px; }
.g-main-sidebar { display: block; position: static; width: 100%; margin: 0; right: 0; }
}
/* 面板 */

.m-panel { background-color: #fff; border: 1px solid #e5e5e5; margin-bottom: 20px; }
.m-panel .panel-header { padding: 5px 15px; color: #333; background-color: #f5f5f5; border-bottom: 1px solid #ddd; font-size: 14px; }
.m-panel .panel-body { padding: 10px; }
.s-panel-info { border: 1px solid #bce8f1; }
.s-panel-info .panel-header { color: #31708f; background-color: #d9edf7; border-color: #bce8f1; }
.s-panel-danger { border: 1px solid #ebccd1; }
.s-panel-danger .panel-header { color: #a94442; background-color: #f2dede; border-color: #ebccd1; }
.s-panel-success { border: 1px solid #d6e9c6; }
.s-panel-success .panel-header { color: #3c763d; background-color: #dff0d8; border-color: #d6e9c6; }
.s-panel-warning { border: 1px solid #faebcc; }
.s-panel-warning .panel-header { color: #8a6d3b; background-color: #fcf8e3; border-color: #faebcc; }
/* 表格 */

.m-table { width: 100%; line-height: 1.5; }
.m-table th, .m-table td { padding: 10px; border: 1px solid #eee; border-width: 1px 0 0; }
.m-table th { padding: 15px 10px; font-weight: bold; border-top: 1px solid #ddd; }
.m-table tbody tr:nth-child(2n) { background: #fafafa; }
.m-table tbody tr:hover { background: #f0f0f0; }
.m-table-border th { border-top: none; padding-top: 10px; }
.m-table .col-1 { width: 100px; }
.m-table .col-2 { width: 200px; }
.m-table .col-3 { width: 300px; }
.m-table .col-4 { width: 400px; }
@media screen and (max-width: 1024px) {
.m-table-mobile { width: 100%; overflow-x: scroll; overflow-y: hidden; -ms-overflow-style: -ms-autohiding-scrollbar; -webkit-overflow-scrolling: touch; }
.m-table-mobile > .m-table > thead > tr > th, .m-table-mobile > .m-table > tbody > tr > th, .m-table-mobile > .m-table > thead > tr > td, .m-table-mobile > .m-table > tbody > tr > td { white-space: nowrap; }
}
/* 表格工具 */
.m-table-tool { padding: 10px; margin-bottom: 10px; }
.m-table-tool .tool-search { float: left; width:50%; }
.m-table-tool .tool-filter { float: right;width:50%; text-align:right; }
@media screen and (max-width: 960px) {
.m-table-tool .tool-search, .m-table-tool .tool-filter { float: none; margin: 5px 0; width:auto; text-align:left; }
}
@media screen and (max-width: 768px) {
.m-page { text-align: left !important }
}
.m-table-bar { margin-top: 10px; }
.m-table-bar .bar-action { float: left;width:50%; }
.m-table-bar .bar-pages { float: right; width:50%; text-align:right; }
@media screen and (max-width: 960px) {
.m-table-bar .bar-action, .m-table-bar .bar-pages { float: none; margin: 5px 0; width:auto; text-align:left; }
}
/* 表单 */
.m-form { line-height: 29px; color: #555; }
.m-form legend { font-size: 16px; font-weight: 400; margin-bottom: 20px; }
.m-form .formitm { line-height: 30px; padding: 10px 20px; border-top: 1px solid #eeeeee; }
.m-form .formitm:first-child { border-top: none }
.m-form .formitm:nth-child(2n) { background: #fafafa; }
.m-form .formitm:hover { color: #000 }
.m-form .lab { font-weight: bold; }
.m-form .ipt { }
.m-form .ipt .suffix { margin: 0 0 0 5px; color: #777; }
.m-form .ipt label { padding-right: 10px; }
.m-form .ipt label * { vertical-align: middle }
.m-form .ipt label input { margin-right: 5px; }
.m-form .ipt p { line-height: 22px; color: #999; }
.m-form .tip { padding-top: 10px; }
.m-form .tip input { margin: 0 5px 3px 0; }
.m-form .addon { font-size: 14px; vertical-align: baseline }
.m-form-horizontal { padding-left: 0 }
.m-form-horizontal .lab { float: left; width: 110px; margin-right: -110px; text-align: right; }
.m-form-horizontal .ipt { margin-left: 130px; }
.m-form .form-submit { padding-top: 10px; padding-bottom: 20px; }
.m-form .form-submit .tip { margin-bottom: 10px; }
/* 表单元素样式 */

.form-element { border: 1px solid #ddd; color: #444; background: #fff; padding: 5px 5px; max-width: 100%; vertical-align: middle; }
/* 表单元素焦点 */

.form-element:focus { border-color: #99baca; outline: 0; background: #f5fbfe; color: #444444; }
/* 表单元素禁用 */

.form-element:disabled { border-color: #ddd; background-color: #f5f5f5; color: #999; }
/* 表单元素宽度 */

.u-width-mini { width: 110px; }
.u-width-small { width: 200px; }
.u-width-medium { width: 280px; }
.u-width-large { width: 350px; }
.u-width-large1 { width: 650px; }
.u-width-full { width: 100%; }
 @media screen and (max-width: 768px) {
.form-element { width: 50% }
.u-width-medium, .u-width-large { width: 100%; padding-right: 0px; }
.u-width-small { width: 50% }
.m-form .lab { float: none; }
.m-form .formitm { background-color: #fff !important; padding-left: 0px; }
.m-form .ipt { margin-left: 0; }
}
/* 边栏表单 */
.g-main-sidebar .formitm { padding: 5px 10px; }
.g-main-sidebar .formitm:first-child { border: none; padding-top: 0px; }
.g-main-sidebar .formitm:last-child { padding-bottom: 0px; }
.g-main-sidebar .form-element { }
.g-main-sidebar .u-width-mini { width: 80px; }
.g-main-sidebar .u-width-small { width: 110px; }
.g-main-sidebar .u-width-medium { width: 190px; }
.g-main-sidebar .u-width-large { width: 225px; }
.g-main-sidebar .u-width-full { width: 225px; }
/* 表单提示样式 */

.formitm-danger .lab, .formitm-danger p { color: #d85030 !important; }
.formitm-danger .form-element { border-color: #dc8d99; background: #fff7f8; color: #c91032; }
.formitm-success .lab, .formitm-success p { color: #659f13 !important; }
.formitm-success .form-element { border-color: #8ec73b; background: #fafff2; color: #539022; }
/* 文字提示颜色 */

.u-text-muted { color: #999999 !important; }
.u-text-primary { color: #2d7091 !important; }
.u-text-success { color: #659f13 !important; }
.u-text-warning { color: #e28327 !important; }
.u-text-danger { color: #d85030 !important; }
/* 徽章提示 */

.u-badge { padding: 2px 5px; font-size: 12px; font-weight: bold; line-height: 14px; color: #fff; text-align: center; vertical-align: middle; text-transform: none; }
.u-badge-muted { background: #999999; color: #444; }
.u-badge-primary { background: #2d7091; }
.u-badge-success { background: #659f13; }
.u-badge-warning { background: #e28327; }
.u-badge-danger { background: #d85030; }
/* alert提示 */

.u-alert { padding: 10px; background: #ebf7fd; color: #2d7091; }
.u-alert-success { background: #f2fae3; color: #659f13; }
.u-alert-warning { background: #fffceb; color: #e28327; }
.u-alert-danger { background: #fff1f0; color: #d85030; }
/* 按钮 */

.u-btn { display: inline-block; -moz-box-sizing: border-box; box-sizing: border-box; vertical-align: middle; text-decoration: none; text-align: center; border: none; line-height: 30px; min-height: 30px; font-size: 1rem; padding: 0 12px; background: #eee; color: #444; }
.u-btn:hover, .u-btn:focus { text-decoration: none; background-color: #f5f5f5; }
.u-btn-primary { background-color: #00a8e6; color: #fff; }
.u-btn-primary:hover, .u-btn-primary:focus { background-color: #35b3ee; color: #fff; }
.u-btn-success { background-color: #8cc14c; color: #fff; }
.u-btn-success:hover, .u-btn-success:focus { background-color: #8ec73b; color: #fff; }
.u-btn-danger { background-color: #da314b; color: #fff; }
.u-btn-danger:hover, .u-btn-danger:focus { background-color: #e4354f; color: #fff; }
.u-btn-mini { min-height: 20px; padding: 0 6px; line-height: 20px; }
.u-btn-small { min-height: 25px; padding: 0 10px; line-height: 25px; }
.u-btn-large { min-height: 35px; padding: 0 15px; line-height: 35px; font-size: 14px; }
.u-btn:disabled { background-color: #f5f5f5; color: #999; }
/* 按钮组 */

.u-btn-group { display: inline-block; vertical-align: middle; position: relative; font-size: 0.001px; white-space: nowrap; }
.u-btn-group .u-btn { vertical-align: top; }
/* 分页 */
.m-page { margin: 10px 0 0; text-align: right; line-height: 32px; font-size: 0; letter-spacing: -0.307em; word-wrap: normal; white-space: nowrap; color: #999; }
.m-page a, .m-page span { display: inline-block; vertical-align: top; padding: 0 12px; margin-left: -1px; border: 1px solid #ddd; font-size: 12px; letter-spacing: normal; text-shadow: 0 1px #fff; background: #fff; -webkit-transition: background-color 0.3s; -moz-transition: background-color 0.3s; -ms-transition: background-color 0.3s; transition: background-color 0.3s; }
.m-page a, .m-page a:hover { text-decoration: none; color: #39c; }
.m-page a:first-child { margin-left: 0; border-top-left-radius: 5px; border-bottom-left-radius: 5px; }
.m-page a:last-child { margin-right: 0; border-top-right-radius: 5px; border-bottom-right-radius: 5px; }
.m-page a:hover { background: #f5f5f5; }
.m-page a:active { background: #f0f0f0; }
.m-page a.current, .m-page a.current:hover, .m-page a.current:active { cursor: default; color: #999; background: #f5f5f5; }
.m-page a.z-dis, .m-page a.z-dis:hover, .m-page a.z-dis:active { cursor: default; color: #ccc; background: #fff; }
/* 快捷操作 */

.m-operate { list-style: none outside none; padding: 0; width: 100%; text-align: center; }
.m-operate li { display: inline-block; margin: 0 10px 5px; min-width: 150px; text-align: center; white-space: nowrap; }
.m-operate li a i { display: inline-block; font-size: 48px; margin-bottom: 20px; color: #3498db }
.m-operate li a:hover { color: #3498db; }
.m-operate p { margin: 16px 14px; }
.m-operate p { display: block; font-weight: 600; text-transform: uppercase; }
/* 信纸 */

.m-paper { line-height: 30px; font-size: 14px; padding: 0px 55px 0px; position: relative; outline: none; background: white; background: -webkit-linear-gradient(top, #dfe8ec 0%, #ffffff 8%) 0 0px; background: -moz-linear-gradient(top, #dfe8ec 0%, #ffffff 8%) 0 0px; background: linear-gradient(center top, #dfe8ec 0%, #ffffff 8%) 0 0px; -webkit-background-size: 100% 30px; -moz-background-size: 100% 30px; -ms-background-size: 100% 30px; background-size: 100% 30px; }
.m-paper::after { content: ''; position: absolute; width: 0px; top: 0; left: 39px; bottom: 0; border-left: 1px solid #F8D3D3; }
/* 缩略图 */
.u-thumbnail { max-width: 100%; max-height: 180px; margin: 0; }
.u-thumbnail img { max-width: 100%; max-height: 180px; }
/* 多图上传 */
.m-multi-image { margin-top: 10px; height: auto; }
.m-multi-image li { float: left; height: 122px; width: 100px; margin-right: 10px; border: 1px solid #ddd; display: inline-block; overflow: hidden; display: inline; position: relative }
.m-multi-image li .close { position: absolute; color: #F00 !important; right: 2px; top: -5px; font-size: 20px; font-weight: bold; font-family: Verdana, Geneva, sans-serif }
.m-multi-image li .img { height: 90px; width: 100px; background-color: #f5f5f5; border-bottom: 1px solid #ddd; }
.m-multi-image li .img img { width: 90px; height: 80px; margin-left: 5px; margin-top: 5px; }
.m-multi-image li .title { height: 25px; }
.m-multi-image li .title input { width: 85px; padding: 2px; height: 15px; line-height: 15px; border: 1px solid #D9D9D9; border-top-color: #c0c0c0; font-size: 12px; margin-left: 5px; _margin-top: 3px; }
.m-multi-image .sortable-placeholder { border: 1px dashed #ccc }
#imgZoom { position: absolute; z-index: 1000;}
