<!--终止-->
<form id="apply_end_from">
<div class="add_school baseInfor" style="margin-top:5px;">
  <table width="100%" style="font-size:12px">
  <tbody>
      <tr>
          <td>
          原&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;因：
          <select class="address_gj" name="end_status">
              <option value="0">==请选择==</option>
              <option value="-100" />选择其他院校</option>
              <option value="-101" />行程中止</option>
              <option value="-102" />其他</option>
          </select>
          </td>
      </tr>
      <tr>
		<td><p style="padding-top:5px;">留　　言：</p>
			<textarea class="baseInfor_input textarea_js" name="content"></textarea>
		</td>
	  </tr>
      <tr>
      	<td><div style="margin-top:15px;">文&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;档：
        	<a href="javascript:;" class="file_a1 opacity8" data_attr='apply_end1' style="margin-left:0px;" ><span>上传文档</span></a></div>
        	<!--文档-->
       	    <div id="apply_end1_form" style="margin-top:5px;">
            </div>
        </td>
      </tr>
  </tbody>
  </table>
</div>
<div class="blod_js">
<input name="stu_apply_id" type="hidden" value="{$apply_info['stu_apply_id']}" />
<input id="apply_end_url" type="hidden" value="{:U('Home/apply/apply_end')}" />
<a href="javascript:;" id="apply_end_sub">提　　交</a>
</div>
</form>

