<!--操作区-->
<if condition="$apply_info['apply_type'] eq 2" > <!--他人合作院校-->
    <div class="c_tem message_rc">
        <div class="c_tem_text fl">
            <span>当前状态：<strong><font color="#FF0000">{$apply_info['status_name']}</font></strong></span>
        </div>
    </div>
    <div class="baseInfor">
        <div class="yj_bt" >
            <div class="blod_js">
                <if condition="($apply_info['is_stop'] eq 1) OR ($apply_info['status'] eq 100) OR ($apply_info['status'] lt 0)">
                    <?php if($apply_info['status'] == -10):?>
                        拒绝接收原因：<strong><font color="#FF0000">{$apply_info['reason']}</font></strong>
                    <?php else:?>
                     <a href="javascript:;">评   价</a>
                     <a href="javascript:;" class="disable">交   流</a>
                    <?php endif;?>
                <else />
                    <?php if($apply_info['member_id'] == $session):?>
                        <?php if($apply_info['status'] >=16 and $apply_info['status'] < 25):?>
                        <a href="javascript:;" onclick="visa_results({$apply_info['member_id']},{$apply_info['stu_apply_id']})">确认入学</a>
                        <?php endif;?>

                        <a href="javascript:;" onclick="apply_end({$apply_info['member_id']},{$apply_info['stu_apply_id']})">终   止</a>
                        <a href="javascript:;" onclick="message_info({$apply_info['member_id']},{$apply_info['stu_apply_id']})">交   流</a>
                    <?php endif;?>

                    <?php if($apply_info['receive_member'] == $session):?>
                        <a href="javascript:;" onclick="apply_end({$apply_info['receive_member']},{$apply_info['stu_apply_id']})">终   止</a>
                        <a href="javascript:;" onclick="message_info({$apply_info['receive_member']},{$apply_info['stu_apply_id']})">交   流</a>
                    <?php endif;?>
                </if>
            </div>
        </div>
    </div>

</if>

