<!--头部（用于用户登陆、注册）-->
<section class="divMade head_top">
  <div style="float:left; margin:20px 25px 20px 25px"><font style="font-size: 24px"><strong>EZ4Agent</strong></font></div>
  <div class="divMadeInner clearfix">
      <div class="fl login_nav">
          <a href="{:U('Home/Index/aboutUS')}">关于我们</a>
          <a href="{:U('Home/Index/contacts')}">联系我们</a>
      </div>
  </div>
</section>
<section class="banner_wrap">
	<a href="#"><img src="__PUBLIC__/front/images/bannerImg.jpg" width="1680" height="704" alt="" /></a>
</section>