<!--公用栏目-->

<section class="divMade head_wrap">
    <div class="divMadeInner clearfix"> <a href="#">EZ4Agent</a> </div>
</section>
<nav class="nav_wrap">
  <div class="nav_wrap_inner clearfix">
    <ul class="clearfix">
      <volist name="meun" id="vo">
      <li <if condition="$vo['select'] eq 1"> class="active" </if>>
           <a href="{$vo.url}" class="firstA">{$vo.name}</a> 
           <notempty name="vo['child']">
            <dl class="nav_dl4">
                <volist name="vo['child']" id="vo1">
                    <dd>
                      <a href="{$vo1.url}"><span>{$vo1.name}</span></a>
                    </dd>
                </volist>
            </dl>
          </notempty>
          <if condition="($vo['name'] eq '提醒') and ($event_num gt 0)"><i>{$event_num}</i></if>
      </li>
      </volist>
        <li>
            <a href="{:U('Home/Index/guide')}" class="firstA">使用教学</a>
        </li>
    </ul>
  </div>
</nav>