<!--公用栏目-->

<section class="divMade head_wrap">
    <div class="qrcode_box">
        <img src="__PUBLIC__/1600.jpg" width="115px" height="115px">
        <p>
            关注EZ4Agent微信平台<br/>及时获悉最新院校资源
        </p>
    </div>
    <div class="divMadeInner clearfix"> <a href="#">EZ4Agent</a></div>
</section>
<nav class="nav_wrap">
  <div class="nav_wrap_inner clearfix">
    <ul class="clearfix">
      <volist name="meun" id="vo">
      <li <if condition="$vo['select'] eq 1"> class="active" </if>  <notempty name="vo['child']">onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)"</notempty>>
           <a href="{$vo.url}" class="firstA {$vo.class}">{$vo.name}</a>
           <notempty name="vo['child']">
            <ul>
                <volist name="vo['child']" id="vo1">
                    <li>
                      <a href="{$vo1.url}"><span>{$vo1.name}</span></a>
                    </li>
                </volist>
            </ul>
          </notempty>
          <if condition="($vo['name'] eq '提醒') and ($event_num gt 0)"><i>{$event_num}</i></if>
      </li>
      </volist>
    </ul>
  </div>
</nav>