<!--公用栏目-->

<section class="divMade head_wrap">
    <div class="qrcode_box">
        <p>
            关注EZ4Agent微信平台<br/>及时获悉最新院校资源
        </p>
        <img src="__PUBLIC__/1600.jpg" width="120px" height="120px">
    </div>
    <div class="divMadeInner clearfix"> <a href="#">EZ4Agent</a></div>
</section>
<nav class="nav_wrap">
  <div class="nav_wrap_inner clearfix">
    <ul class="clearfix">
        <li onmouseover="displaySubMenu(this)" onmouseout="hideSubMenu(this)" >
            <a href="javascript:void(0);" class="firstA">Q&A</a>
            <ul>
                <li><a href="{:U('Home/Index/guide',array('class'=>'s3'))}" target="_blank">合作流程</a></li>
                <li><a href="{:U('Home/Index/guide',array('class'=>'s1'))}" target="_blank">添加合作院校</a></li>
                <li><a href="{:U('Home/Index/guide',array('class'=>'s2'))}" target="_blank">输送学生</a></li>
            </ul>
        </li>
      <volist name="meun" id="vo">
      <li <if condition="$vo['select'] eq 1"> class="active" </if>>
           <a href="{$vo.url}" class="firstA">{$vo.name}</a> 
           <notempty name="vo['child']">
            <dl class="nav_dl4">
                <volist name="vo['child']" id="vo1">
                    <dd>
                      <a href="{$vo1.url}"><span>{$vo1.name}</span></a>
                    </dd>
                </volist>
            </dl>
          </notempty>
          <if condition="($vo['name'] eq '提醒') and ($event_num gt 0)"><i>{$event_num}</i></if>
      </li>
      </volist>
    </ul>
  </div>
</nav>