<form id="message_info">
<div class="add_school baseInfor" style="margin-top:5px;">
  <table width="100%" style="font-size:12px">
  <tbody>
      <tr>
          <td>
          主&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;题：
          <select class="address_gj" name="title" style="width:auto;">
            <option value="0">==请选择==</option>
            <option value="申请相关">申请相关</option>
          	<option value="补充材料">补充材料</option>
            <option value="Offer更新">Offer更新</option>
            <option value="签证相关">签证相关</option>
            <option value="学生启程">学生启程</option>
            <option value="学生入学">学生入学</option>
            <option value="Invoice发出">Invoice发出</option>
            <option value="佣金相关">佣金相关</option>
            <option value="其他">其他</option>
          </select>
          </td>
      </tr>
      <tr>
		<td><p style="padding-top:5px;">内　　容：</p>
			<textarea class="baseInfor_input textarea_js" name="content"></textarea>
		</td>
	  </tr>
      <tr>
      	<td>
        	<div style="margin-top:15px;">文&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;档：
        		<a href="javascript:;" class="file_a1 opacity8" data_attr='message_form' style="margin-left:0px;" ><span>上传文档</span></a>
        	</div>
            <!--文档-->
            <div id="message_form_form" style="margin-top:5px;">
            </div>
        </td>
      </tr>
  </tbody>
  </table>
</div>
<div class="blod_js">
<input name="stu_apply_id" type="hidden" value="{$apply_info['stu_apply_id']}" />
<input id="message_form_url" type="hidden" value="{:U('Home/apply/message')}" />
<a href="javascript:;" id="message_form_sub">提　　交</a>
</div>
</form>
