<div class="con_item">
  <h2 class="con_item_tit clearfix"> <em class="font18 ffyh fl">学生列表</em>
    <div class="c_tem_search fl">
        <i class="icon" id="search_act"></i>
        <input class="search_text" placeholder="学生姓名" id="search_student_byname" name="name" type="text">
    </div>
    <i class="icon icon2 fr" onclick="add_stu(0,'{:U('Home/Student/get_infoBystu_id')}');"></i> </h2>
  <div class="con_item_c">
    <div class="c_tem">
      <div class="c_tem_text stuInfo_text">
        <div class="c_tem_text_inner clearfix"> 
        	<div class="fl">
            	<a href="{:U('Home/Student/receive_list')}"><input class="updatabtn" type="button" value="新生"/></a>
            </div> 
            <div class="fr"><a href="{:U('Home/Student/receive_list')}"><span class="shuzi1">{$receive_num}</span></a></div>
        </div>
      </div>
    </div>
    <div class="table_list stu_delist">
      <div class="Scroller-Container">
          <ul id='stu_list'>
            <volist name='stu_list' id="vo">
            <li> <i class="icon"></i> <em>{$vo['name']}</em> <a href="{$vo['url']}">查	看</a> </li>
            </volist>
          </ul>
      </div>
    </div>
  </div>
</div>