<div class="baseInfor">
    <form id="submit_visa_apply_form">
        <!--   <div class="part_info">
               <div class="tip" style="color:red">
                   上传签证材料电子档
               </div>
               <div class="part_info">
                   <h2>上传签证材料</h2>
                   <div class="inner">
                       <a href="javascript:;" class="file_a1 opacity8" data_attr='visa_apply_file' style="margin-left:0px;" ><span>上传文档</span></a>
                       <table width="100%" border="0" style=" border-collapse: collapse;">
                       <tr>
                           <td>
                               <div id="visa_apply_file_form" style="margin-top:5px;">
                               </div>
                           </td>
                       </tr>
                       </table>
                   </div>
               </div>
       -->
        <div class="tip" style="color:red">
            上传材料电子档，确认后原件邮寄到以下地址
        </div>
        <div class="part_info">
            <h2>邮寄地址</h2>
            <div class="inner">
                <table width="100%" border="0" style=" border-collapse: collapse;">
                    <tr>
                        <th>公司名称: </th>
                        <td> {$contact.company} </td>
                    </tr>
                    <tr>
                        <th>联系人: </th>
                        <td> {$apply_info.receive_address.contacter} </td>
                    </tr>
                    <tr>
                        <th>联系方式: </th>
                        <td> {$apply_info.receive_address.phone} </td>
                    </tr>
                    <tr>
                        <th>地址: </th>
                        <td> {$apply_info.receive_address.address} </td>
                    </tr>
                </table>
            </div>
        </div>
        <div class="part_info">
            <h2>快递详情</h2>
            <div class="inner">

                    <table width="100%" border="0" style=" border-collapse: collapse;">
                        <tbody>
                        <tr>
                            <th>快递公司 ：</th>
                            <td>
                                <input class="baseInfor_input" id="waybill_company" name="waybill_company" type="text" value="" />
                            </td>
                        </tr>
                        <tr>
                            <th>快递单号 ：</th>
                            <td>
                                <input class="baseInfor_input" id="waybill_no" name="waybill_no" type="text" value="" />
                            </td>
                        </tr>
                        </tbody>
                    </table>

            </div>
        </div>
        <div class="blod_js">
            <input name="stu_apply_id" type="hidden" value="{$apply_info['stu_apply_id']}" />
            <a href="javascript:void(0);" id="submit_visa_apply" >委&nbsp;&nbsp;托</a>
        </div>
    </form>
</div>
<script>
    $("#submit_visa_apply").click(function(){
        var data = $("#submit_visa_apply_form").serialize();

        var url = "{:U('Home/Apply/submit_visa_apply')}";
        ajax_submit(url,data);
    });
</script>