<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于我们-EZ4Agent</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/share.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/common.css">

<!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5.js"></script>
<![endif]-->
</head>
<body>
<section class="main_wrap">
	<include file="Public:login-header" />
  <section class="banner_wrap">
    <div class="banner_box">
        <div class="banner_box_inner">
            <h2><strong>关于我们</strong></h2>
            <div>
            <p >上海瓯丽信息科技有限公司是一家小微创新企业。几位创始人皆为深具留学行业丰富经验的海归人士。公司致力于针对出国行业内的小微需求开发服务产品，以填补市场空白。</p>
            <p >EA4Agent是公司开发的一款行业内平台，便利于留学中介之间的协作与交流。平台涵盖了全世界主要留学目的地的院校代理及合作可能。为中小型中介，甚至大型中介，提供了简便，通畅及优质的合作选择，是一个集学生管理，院校管理，合作选择，佣金分享与支付，论坛和CRM特征的复合型平台。</p>
            <p >相信这款平台可以更有效地连接生源中介和院校代理（中介），以达到提高生源质量，提高佣金比例，和降低运营成本的目的。</p>
            </div>
        </div>
    </div>    
    <div class="banner_inner"><img src="__PUBLIC__/front/images/bannerImg.jpg" width="1680" height="704" alt="" /></div>
  </section>    

	<include file="Public:footer" />
</section>

</body>
</html>