<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于我们-EZ4Agent</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/share.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/common.css">

<!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5.js"></script>
<![endif]-->
</head>
<body>
<section class="main_wrap">
	<include file="Public:login-header" />
  <section class="banner_wrap">
    <div class="banner_box">
        <div class="banner_box_inner">
            <h2><strong>关于我们</strong></h2>
            <div>
            <p >EZ4Agent是一个专注于服务于中小型留学中介的海外院校资源平台。EZ4Agent关注中小型留学中介的生存与发展，贯彻海外院校资源共享，提供院校佣金全分享和自助式后续服务，包括院校培训和签证服务。</p>
            <p >希望可以和各留学中介共同成长和发展。</p>
            </div>
        </div>
    </div>    
    <div class="banner_inner"><img src="__PUBLIC__/front/images/bannerImg.jpg" width="1680" height="704" alt="" /></div>
  </section>    

	<include file="Public:footer" />
</section>

</body>
</html>