<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>关于我们-EZ4Agent</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/share.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/common.css">

<!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5.js"></script>
<![endif]-->
</head>
<body>
<section class="main_wrap">
	<include file="Public:login-header" />
  <section class="banner_wrap">
    <div class="banner_box">
        <div class="banner_box_inner">
            <h2><strong>关于我们</strong></h2>
            <div>
                <p >EZ4Agent留学中介联盟，是一个专注于服务中小型留学中介和专业从业人员的院校返佣平台。用户们可通过该平台统一院校申请渠道，通过众木成林的方式取得优秀的院校合作关系和最高等级的院校返佣。</p>
                <p >为什么使用EZ4Agent</p>
                <p >EZ4Agent拥有众多海外院校资源——用户无需再同单个院校建立合作关系，并努力维护院校合同。</p>
                <p >EZ4Agent提供院校佣金信息全透明——用户可清楚掌握每个院校的返佣情况，包括佣金比例或金额，和各种奖励制度。</p>
                <p >EZ4Agent提供院校的最高返佣可能——通过各个用户的齐心协力，达到院校的最高返佣和奖励等级，申请越多返佣越高，把单个学生产出最大化。</p>
                <p >EZ4Agent提供学生申请管理系统——方便用户管理每个学生的申请进度及佣金流程，可及时跟进和协调。</p>
                <p >EZ4Agent提供账单管理系统——用户清晰掌握自己的收益情况，便于成本收支核算。</p>
            </div>
        </div>
    </div>    
    <div class="banner_inner"><img src="__PUBLIC__/front/images/bannerImg.jpg" width="1680" height="704" alt="" /></div>
  </section>    

	<include file="Public:footer" />
</section>

</body>
</html>