<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>联系我们-EZ4Agent</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/share.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/common.css">

<!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5.js"></script>
<![endif]-->
</head>
<body>
<section class="main_wrap">
	<include file="Public:login-header" />
      <section class="banner_wrap">
        <div class="banner_box">
            <div class="banner_box_inner">
                <h2><strong>联系我们</strong></h2>
                <div style="height:350px;">
                <p ><a href="http://www.EZ4Agent.com">www.EZ4Agent.com</a></p>
                <p ><label>公司名称：</label>上海瓯丽信息科技有限公司</p>
                <p ><label>公司地址：</label>上海市杨浦区本溪路187号4022室</p>
                <p ><label>电话：</label>021-51028830</p>
                <p><label>邮箱地址：</label>marketing@ez4agent.com </p>
            	</div>

            </div>
        </div>
        <div class="banner_inner"><img src="__PUBLIC__/front/images/bannerImg.jpg" width="1680" height="704" alt="" /></div>
    </section>
	<include file="Public:footer" />
</section>

</body>
</html>