<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>联系我们-EZ4Agent</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/share.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/common.css">

<!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5.js"></script>
<![endif]-->
</head>
<body>
<section class="main_wrap">
	<include file="Public:login-header" />
    <section class="login_con regsiter_con">
    <div class="login_inner">
        <div class="login_made" >
            <div class="login_made_inner">
                <h2><strong>联系我们</strong></h2>
                <div style="height:350px;">
                <p style=" font-size:24px; text-indent:2em; line-height:25px; margin:0 auto; padding:5px;0px 5px 0px;"><a href="http://www.EZ4Agent.com">www.EZ4Agent.com</a></p>
                <p style=" font-size:24px; text-indent:2em; line-height:25px; margin:0 auto; padding:5px;0px 5px 0px;">上海瓯丽信息科技有限公司</p>
                <p style=" font-size:24px; text-indent:2em; line-height:25px; margin:0 auto; padding:5px;0px 5px 0px;">上海市杨浦区本溪路187号4022室</p>
                <p style=" font-size:24px; text-indent:2em; line-height:25px; margin:0 auto; padding:5px;0px 5px 0px;">021-51028830</p>
            	</div>
            </div>
        </div>
    </div>
    </section>
	<include file="Public:footer" />
</section>

</body>
</html>