<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>教学视频-EZ4Agent</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/share.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/common.css">

<!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5.js"></script>
<![endif]-->
</head>
<body>
<section class="main_wrap">
	<include file="Public:login-header" />
  <section class="banner_wrap">
    <div class="banner_box videobox">
        <div class="banner_box_inner">
            <embed src="{$video_url}"
                   allowFullScreen="true"
                   quality="high" width="940" height="550"
                   align="middle"
                   allowScriptAccess="always" type="application/x-shockwave-flash"></embed>
            <!--
            <video width="940" height="550" controls>
                <source src="__PUBLIC__/guide_l1.ogg" type="video/ogg">
                <source src="__PUBLIC__/guide_l1.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>
            -->
        </div>
    </div>    
    <div class="banner_inner"><img src="__PUBLIC__/front/images/bannerImg.jpg" width="1680" height="704" alt="" /></div>
  </section>    

	<include file="Public:footer" />
</section>

</body>
</html>