<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>中介协议-EZ4Agent</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/share.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/common.css">

<!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5.js"></script>
<![endif]-->
    <style>
        .protocol h4{
            font-size: 16px;
        }

        .protocol p{
            font-size: 12px;
        }

        .protocol p strong{font-size: 16px;}

        .protocol ul li{
            list-style:inside decimal
        }
        .protocol ul li{
            line-height: 25px;
            margin: 0 auto;
            padding: 5px;
            text-indent: 2em;
            font-size: 12px;

        }
    </style>
</head>
<body>
<section class="main_wrap">
	<include file="Public:login-header" />
      <section class="banner_wrap">
        <div class="banner_box">
            <div class="banner_box_inner">
                <h2><strong>EZ4Agent中介协议</strong></h2>
                <div class="protocol" style="height:350px; overflow-y: auto">
                    <h4 align="center" style="margin: 5px 0;">合作协议书</h4>

                    <p>甲方：Yellow Submarine Education Service Co., Limited</br>
                    黄色潜水艇教育服务有限公司</p>
                    　　
                    <p>乙方：</p>
                    　　

                    <p>甲、乙双方经友好协商，就合作开展办理自费留学业务达成以下协议，以致共守：


                    <p><strong>一、甲方义务</strong></p>
                    <ul>
                        <li>负责提供乙方相关院校的资讯。</li>
                        <li>负责及时为乙方的客户办理学校报名手续。</li>
                        <li>如乙方客户在支付学费后拒签（以使馆的拒签信为准），由甲方负责协助乙方客户根据学校的退费规定办理学费退款事宜。</li>
                        <li>负责按照本协议的规定及时将乙方应得的利益转交乙方。</li>
                        <li>未经乙方同意，不得擅自直接联系乙方的客户。</li>
                        <li>如乙方需要，可为乙方的客户代办留学签证（包括电子签证）。</li>
                    </ul>
                    <p><strong>二、乙方义务</strong></p>
                    <ul>
                        <li>作为甲方的合作伙伴，与甲方共同遵守甲方代理院校制订的代理行为准则。</li>
                        <li>乙方需提供在国际教育行业内的证明。如注册为公司用户，乙方需提供公司营业执照或相关公司文件。如注册为个人用户，乙方需提供个人从业证明，如工作证，名片，身份证或推荐人相关证明。</li>
                        <li>负责向客户如实提供准确的留学咨询，并指导和协助客户及时准备报名学校所需的真实材料。</li>
                        <li>负责协助客户办理留学签证和出境手续，并及时通知甲方入学的结果。</li>
                        <li>负责按照本协议的规定及时将甲方应得的利益转交给甲方。</li>
                    </ul>

                    <p><strong>三、收费标准、利益分配及申请规则</strong></p>
                    <ul>
                        <li>
                            报名费收费标准：
                            <p>甲方负责为乙方每位客户免费申请一定数量的学校，具体申请规则请参照网站内的“申请规则”。如学校官方需要收取申请费的，乙方须在申请学校前按时交付甲方。无论录取与否，此申请费均不予退还。</p>
                        </li>
                        <li>
                            学校佣金分成标准：
                            <p>甲方按佣金总额的100%返回乙方，包括院校的佣金，奖励和分红，具体金额请参照网站内的各院校页面。甲方在向乙方支付佣金时扣除一定的服务费，服务费金额根据每所院校变化，具体金额请参照网站内的各院校页面信息。</p>
                        </li>
                        <li>
                            佣金结算标准：
                            <p>甲方每月五日向乙方支付前一个月收到的学校佣金。如遇双休日或国定假日，佣金结算日期顺延。</p>
                        </li>
                        <li>
                            申请规则
                            <p>每位学生可申请相同学历两次（不同学校）。</p>
                        </li>
                        <li>如乙方不需要甲方代办留学签证的，甲方不收取任何签证服务费。</li>
                        <li>
                            如乙方通过甲方报名、且需要甲方代办留学签证的，甲方按以下标准收取签证服务费：
                            <p>
                                澳大利亚电子签证收取人民币1000元，如拒签不退还；
                            </p>
                        </li>
                        <li>开销：甲、乙双方各自承担自己的开销（包括快递费、银行汇款手续费和各项税收）。</li>
                        <li>其他：上述收费仅限于澳大利亚；</li>
                    </ul>

                    <p><strong>四、其他</strong></p>
                    <ul>
                        <li>甲、乙双方的行为均需符合各自所在国的法律规范。</li>
                        <li>以上分配方案仅限于报读甲方代理的学校，甲方负责及时更新代理学校名单。</li>
                        <li>以上收费未包括学校、移民局等第三方机构向客户收取的费用，如学校申请费、接机和住宿安排费、签证费、护照费、公证费、体检费等。学校收取的接机住宿安排费须在安排之前按时交付甲方或学校，一经安排，此费用则不予退还。</li>
                        <li>
                            未经对方书面同意，双方不得以对方的名义对外宣传以及收取本协议规定之外的任何费用。
                            <p>如果甲、乙双方任何一方未能履行本协议的任何条款，均属违约行为，违约方应承担由此造成的全部经济损失和法律责任。</p>
                            <p>本协议适用于中华人民共和国法律，只对甲、乙双方生效，甲、乙双方共同履行本协议的各项条款。凡因执行本协议所发生的或与本协议有关的一切争议，双方应通过友好协商解决，如果协商不成，应提交当地法院裁决。
                            </p>
                        </li>
                    </ul>

                    <p>甲方（签章）：</p>

                    <p align="right">
                        For and on behalf of<br/>
                        YELLOW SUBMARINE EDUCATION SERVICE CO., LIMITED<br/>
                        黃色潛水艇教育服務有限公司
                    </p>
                    <p align="right">
                        <img src="__PUBLIC__/signature.png">
                        ………………………………………………………………………<br/>
                        Authorized Signature(s)
                    </p>
                </div>
            </div>
        </div>
        <div class="banner_inner"><img src="__PUBLIC__/front/images/bannerImg.jpg" width="1680" height="704" alt="" /></div>
    </section>
	<include file="Public:footer" />
</section>

</body>
</html>