<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>注册条款-EZ4Agent</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/share.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/common.css">

<!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5.js"></script>
<![endif]-->
    <style>
        .terms h4{
            font-size: 16px;
        }

        .terms p{
            font-size: 12px;
        }
    </style>
</head>
<body>
<section class="main_wrap">
	<include file="Public:login-header" />
      <section class="banner_wrap">
        <div class="banner_box">
            <div class="banner_box_inner">
                <h2><strong>EZ4Agent服务协议</strong></h2>
                <div class="terms" style="height:350px; overflow-y: auto">
                    <h4 align="center" style="margin: 5px 0;">欢迎您使用EZ4Agent的服务！</h4>
                    <p>为使用EZ4Agent的服务，您应当阅读并遵守《EZ4Agent服务协议》（以 下简称“本协议”）。请您务必审慎阅读、充分理解各条款内容，特别是免除或者限制责任的条款、管辖与法律适用条款。除非您已阅读并接受本协议所有条款，否则您无权使用EZ4Agent提供的服务。您使用EZ4Agent的服务即视为您已阅读并同意上述协议的约束。</p>
                    <h4>一、【协议的范围】</h4>
                    <p>1.1本协议是您与EZ4Agent之间关于用户使用EZ4Agent相关服务所订立的协议。“EZ4Agent”是指上海瓯丽信息科技有限公司的运营关联单位。“用户”是指使用EZ4Agent相关服务的使用人，在本协议中更多地称为“您”。</p>
                    <p>1.2本协议项下的服务是指EZ4Agent向用户提供的包括但不限于院校申请渠道，第三方申请渠道和返佣结算等服务（以下简称“本服务”）。</p>
                    <h4>二、【帐号与密码安全】</h4>
                    <p>2.1您在使用EZ4Agent的服务时可能需要注册一个帐号；</p>
                    <p>2.2 EZ4Agent特别提醒您应妥善保管您的帐号和密码。当您使用完毕后，应安全退出。因您保管不善可能导致遭受盗号或密码失窃，责任由您自行承担。</p>
                    <h4>三、【用户个人信息保护】</h4>
                    <p>3.1保护用户个人信息是EZ4Agent的一项基本原则。EZ4Agent将按照本协议的规定收集、使用和储存您的个人信息。</p>
                    <p>3.2您在注册帐号或使用本服务的过程中，您需要填写真实的身份信息。若您填写的信息不完整，则无法使用本服务或在使用过程中受到限制。</p>
                    <p>3.3一般情况下，您可随时浏览、修改自己提交的信息，但出于安全性和身份识别（如账户申诉服务）的考虑，您可能无法修改注册时提供的初始注册信息及其他验证信息。</p>
                    <p>3.4 EZ4Agent将运用各种安全技术和程序建立完善的管理制度来保护您的个人信息，以免遭受未经授权的访问、使用或披露。</p>
                    <p>3.5 EZ4Agent不会将您的个人信息转移或披露给任何非关联的第三方，除非：</p>
                    <p>（1）相关法律法规或法院、政府机关要求；</p>
                    <p>（2）为完成合并、分立、收购或资产转让而转移；或</p>
                    <p>（3）为提供您要求的服务所必需。</p>
                    <h4>四、【使用本服务的方式】</h4>
                    <p>您应当通过EZ4Agent提供或认可的方式使用本服务。您依本协议条款所取得的权利不可转让。</p>
                    <h4>五、【收费服务】</h4>
                    <p>5.1 EZ4Agent的服务是以收费方式提供的，请遵守相关的协议。</p>
                    <p>5.2 EZ4Agent可能根据实际需要对收费服务的收费标准、方式进行修改和变更。</p>
                    <h4>六、【用户违规行为】</h4>
                    <p>6.1您在使用本服务时须遵守相关规定，包括但不限于：</p>
                    <p>（1）本服务仅限国际教育相关从业人员注册使用；</p>
                    <p>（2）不得邀请或推荐非国际教育相关从业人员注册使用本服务；</p>
                    <p>（3）不得使用不真实或虚假材料；</p>
                    <p>6.2如果您违反了本条约定，EZ4Agent将采取终止账户使用和终止本服务，包括停止结算返佣金额等。造成损害的，EZ4Agent不承担任何责任。</p>
                    <p>6.3您违反本条约定，导致任何第三方损害的，您应当独立承担责任；EZ4Agent因此遭受损失的，您也应当一并赔偿。</p>
                    <h4>七、【用户发送的内容与第三方投诉处理】</h4>
                    <p>7.1您通过本服务发送的内容（包括但不限于网页、文字、图片、音频、视频、图表等）均由您自行承担责任。</p>
                    <p>7.2您发送的内容应有合法来源，相关内容为您所有或您已获得权利人的授权。</p>
                    <p>7.3您同意EZ4Agent可为履行本协议或提供本服务的目的而使用您发送的内容。</p>
                    <p>7.4如果EZ4Agent收到权利人通知，主张您发送的内容侵犯其相关权利的，您同意EZ4Agent有权进行独立判断并采取删除等措施。</p>
                    <p>7.5您使用本服务时不得违反国家法律法规、侵害他人合法权益。您理解并同意，如您被他人投诉侵权或您投诉他人侵权，EZ4Agent有权将争议中相关方的主体、联系方式、投诉相关内容等必要信息提供给其他争议方或相关部门，以便及时解决投诉纠纷，保护他人合法权益。</p>
                    <h4>八、【协议的生效与变更】</h4>
                    <p>8.1您使用EZ4Agent的服务即视为您已阅读本协议并接受本协议的约束。</p>
                    <p>8.2 EZ4Agent有权在必要时修改本协议条款。您可以在相关服务页面查阅最新版本的协议条款。</p>
                    <p>8.3本协议条款变更后，如果您继续使用EZ4Agent提供的软件或服务，即视为您已接受修改后的协议。如果您不接受修改后的协议，应当停止使用EZ4Agent提供的服务。</p>
                    <h4>九、【服务的变更、中断、终止】</h4>
                    <p>9.1 EZ4Agent可能会对服务内容进行变更，也可能会中断、中止或终止服务。</p>
                    <p>9.2您理解并同意，EZ4Agent有权自主决定经营策略。在EZ4Agent发生合并、分立、收购、资产转让时，EZ4Agent可向第三方转让本服务下相关资产；EZ4Agent也可在单方通知您后，将本协议下部分或全部服务转交由第三方运营或履行。具体受让主体以EZ4Agent通知的为准。</p>
                    <p>9.3如发生下列任何一种情形，EZ4Agent有权不经通知而中断或终止向您提供的服务：</p>
                    <p>（1）根据法律规定您应提交真实信息，而您提供的个人资料不真实、或与注册时信息不一致又未能提供合理证明；</p>
                    <p>（2）您违反相关法律法规或本协议的约定；</p>
                    <p>（3）按照法律规定或主管部门的要求；</p>
                    <p>（4）出于安全的原因或其他必要的情形。</p>
                    <p>9.4您有责任自行备份存储在本服务中的数据。如果您的服务被终止，EZ4Agent可以从服务器上永久地删除您的数据,但法律法规另有规定的除外。服务终止后，EZ4Agent没有义务向您返还数据。</p>
                    <h4>十、【管辖与法律适用】</h4>
                    <p>10.1本协议的成立、生效、履行、解释及纠纷解决，适用中华人民共和国大陆地区法律。</p>
                    <p>10.2本协议签订地为中华人民共和国上海市徐汇区。</p>
                    <p>10.3若您和EZ4Agent之间发生任何纠纷或争议，首先应友好协商解决；协商不成的，您同意将纠纷或争议提交本协议签订地（即中国上海市徐汇区）有管辖权的人民法院管辖。</p>
                    <p>10.4本协议所有条款的标题仅为阅读方便，本身并无实际涵义，不能作为本协议涵义解释的依据。</p>
                    <p>10.5本协议条款无论因何种原因部分无效或不可执行，其余条款仍有效，对双方具有约束力。</p>
                    <h4>十一、【其他】</h4>
                    <p>如果您对本协议或本服务有意见或建议，可与EZ4Agent联系（www.ez4agent.com），我们会给予您必要的帮助。</p>
                    <p align="right">EZ4Agent</p>
                    <p align="right">上海瓯丽信息科技有限公司</p>
                </div>
            </div>
        </div>
        <div class="banner_inner"><img src="__PUBLIC__/front/images/bannerImg.jpg" width="1680" height="704" alt="" /></div>
    </section>
	<include file="Public:footer" />
</section>

</body>
</html>