<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>Q&A--EZ4Agent</title>
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/share.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/main.css">
<link rel="stylesheet" type="text/css" href="__PUBLIC__/front/css/common.css">
<script src="__PUBLIC__/js/jquery.js" type="text/javascript"></script>
<script src="__PUBLIC__/front/js/common.js" type="text/javascript"></script>
<script src="__PUBLIC__/front/js/gobal.js" type="text/javascript"></script>
<script src="__PUBLIC__/front/js/school.js" type="text/javascript"></script>

<!--[if lt IE 9]>
    <script src="__PUBLIC__/js/html5.js"></script>
<![endif]-->
    <style>

        .qabox{
            padding: 20px 15px;
        }

        .qabox h1{
            margin-bottom: 15px;
            font-size: 18px;
        }

        .qabox h4{
            margin-top: 25px;
            margin-bottom: 15px;
            font-size: 18px;
        }

        .qabox h5{
            margin: 15px 0;
            font-size: 14px;
        }

        .qabox img{
            width: 100%;
        }

        .qabox p{
            line-height: 26px;
            font-size: 12px;
            padding-left: 15px;
        }

        .qabox table{
            width: 100%;
            border-collapse: collapse;
            border-left:#C8B9AE solid 1px;
            border-top:#C8B9AE solid 1px;
        }

        .qabox table th,
        .qabox table td{
            background: #fff;
            border-right:#C8B9AE solid 1px;
            border-bottom:#C8B9AE solid 1px;
            padding: 5px 10px;
            vertical-align: top；
        }

        .qa_nav {
            padding: 20px 15px;
        }

        .qa_nav li{
            line-height: 28px;
            list-style: inside none disc;
        }

        .qa_nav li a{
            font-size: 14px;
        }

        #form_top{display:block; bottom:3px; right:3px; position:fixed;}
        .top_img{
            background-image: url("__PUBLIC__/go_top.png");
            width: 100px;
            height:100px;
            cursor: pointer;
        }
    </style>
</head>

<body>
<a id="_top"></a>
<section class="main_wrap main_wrap_inner">
	<!--公用方法-->
    <include file="Public:menu" />
    <section class="content_wrap clearfix">
        <div class="content_left fl">
            <div class="con_item">
                <h2 class="con_item_tit clearfix"><em class="font18 ffyh">Q&A</em></h2>
                <div class="con_item_c clearfix">
                    <ul class="qa_nav">
                        <li><a href="#q1">EZ4Agent VS 传统B2B机构</a></li>
                        <li><a href="#q2">EZ4Agent是如何运作的？</a></li>
                        <li><a href="#q3">EZ4Agent如何收费？什么是服务费？</a></li>
                        <li><a href="#q4">如果通过EZ4Agent递交申请？</a></li>
                        <li><a href="#q5">什么是申请规则？</a></li>
                        <li><a href="#q7">什么是首年佣金&后续年佣金？</a></li>
                        <li><a href="#q8">奖励制度佣金是如何计算？</a></li>
                        <li><a href="#q9">什么是支付周期？</a></li>
                        <li><a href="#q10">什么是支付方式？</a></li>
                        <li><a href="#q11">为什么新西兰佣金计算不同？</a></li>
                        <li><a href="#q12">为什么最终佣金不同于先期佣金显示？</a></li>
                        <li><a href="#q13">何时进行佣金结算？</a></li>
                        <li><a href="#q14">佣金结算货币</a></li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="content_right fr">
            <div class="con_item">
                <h2 class="con_item_tit clearfix"><em class="font18 ffyh"></em></h2>
                <div class="con_item_c clearfix">
                    <div class="qabox">
                        <h4 name="q1" id="q1">EZ4Agent VS 传统B2B机构</h4>
                        <img src="__PUBLIC__/qa_ez_vs_b2b.png" />
                        <h4 name="q2" id="q2">EZ4Agent是如何运作的？</h4>
                        <img src="__PUBLIC__/ez_how.png" />
                        <h4 name="q3" id="q3">EZ4Agent如何收费？什么是服务费？</h4>
                        <img src="__PUBLIC__/ez_how2.png" />
                        <p>在每个院校页面中，都会注明服务费的百分比。服务费=返佣总额x服务费比例。如果显示0，表示不收取服务费。</p>
                        <p>例：</br>学费：10000元&nbsp;&nbsp;&nbsp;佣金：15%&nbsp;&nbsp;&nbsp;奖励：500元&nbsp;&nbsp;&nbsp;服务费：10%</p>
                        <p>服务费=（学费x佣金+奖励）x服务费</br>
                        =（10000x15%+500）x10%</br>
                        =  200元
                        </p>
                        <h4 name="q4" id="q4">如果通过EZ4Agent递交申请？</h4>
                        <h5>第一步：新建学生</h5>
                        <img src="__PUBLIC__/st1.png" />

                        <h5>第二步：填写学生信息</h5>
                        <img src="__PUBLIC__/st2.png" />

                        <h5>第三步：选择学校</h5>
                        <img src="__PUBLIC__/st3.png" />

                        <h5>第四步：选择学历申请</h5>
                        <img src="__PUBLIC__/st4.png" />

                        <h5>第五步：填写入学日期和上传申请材料</h5>
                        <img src="__PUBLIC__/st5.png" />

                        <h5>第六步：申请完成，可点击“查看申请”查询进度</h5>
                        <img src="__PUBLIC__/st6.png" />


                        <h4 name="q5" id="q5">什么是申请规则？</h4>
                        <p>每位学生可申请同一学历的次数不多于2次，不可同一学校同一学历申请多次。<br/>如：学生A可以申请，语言x2，预科x2，本科x2，研究生x2。</p>
                        <h4 name="q7" id="q7">什么是首年佣金&后续年佣金？</h4>
                        <p>根据每个学校提供的佣金显示<br/>
                            有些学校会基于人数变化推出奖励制度，所以其首年佣金&后续年佣金可能会随着时间变化而改变。最终的佣金额度会根据实际入学人数计算。<br/>
                            例：
                        </p>
                        <p>院校A推出奖励制度，如果本年度入学人数超过5人（含），该年度入学学生的中介可获得后续年佣金5%。则佣金额度显示如下：</p>
                        <table>
                            <tr>
                                <th>人数</th>
                                <th>首年佣金</th>
                                <th>后续年佣金</th>
                            </tr>
                            <tr>
                                <td>1-4</td>
                                <td>10%</td>
                                <td>0%</td>
                            </tr>
                            <tr>
                                <td>5-</td>
                                <td>10%</td>
                                <td>5%</td>
                            </tr>
                        </table>

                        <h4 name="q8" id="q8">奖励制度佣金是如何计算？</h4>
                        <p>某些院校推出的奖励制度，可能导致前后佣金不平等。为了公平期间，EZ4Agent做了平均处理。<br/>
                            例：</p>
                        <p>院校A推出2015年2月预科佣金奖励制度</p>
                        <table>
                            <tr>
                                <th>人数</th>
                                <th>佣金</th>
                            </tr>
                            <tr>
                                <td>1-10</td>
                                <td>10%</th>
                            </tr>
                            <tr>
                                <td>11-</td>
                                <td>15%</td>
                            </tr>
                        </table>
                        <p>实际入学人数25人，平均每人佣金获得=（10x10%+15x15%）/25=13%</p>

                        <h4 name="q9" id="q9">什么是支付周期？</h4>
                        <p>支付周期是指从入学日期至学校佣金支付日的时间段。在部分院校还未取得合作关系的情况下，EZ4Agent会注明是否通过第三方转申请，佣金结算可能会延缓几日。<br/>
                            注：目前多所知名大学出现拖延佣金支付的情况，如有延迟，请谅解。
                        </p>

                        <h4 name="q10" id="q10">什么是支付方式？</h4>
                        <p>
                            支付方式是指院校分几次支付承诺佣金。支付方式有两种：一次支付和两次支付。<br/>
                            例：<br/>
                            院校A承诺中介可获得学生首年学费的10%，支付方式为两次。即院校A会在第一学期支付整年学费的5%，并在第二学期支付整年学费的5%。如果该生在第一学期后退学，第二学期的佣金可能不再支付。
                        </p>

                        <h4 name="q11" id="q11">为什么新西兰佣金计算不同？</h4>
                        <p>由于新西兰不同的财务制度，在向海外中介支付佣金时，其中的GST部分会被扣除。<br/>
                            GST即Goods and Services Tax（GST） 增值税，消费与服务税。与我国征收VAT（VALUE ADDED TAX）营业加值税类似。新西兰GST税率为15%。
                        </p>
                        <p>例：<br/>
                            学费NZ$30000，佣金10%<br/>
                            GST计算公式：NZ$30000x3/23=NZ$3913.04<br/>
                            实际佣金收入=(NZ$30000-NZ$3913.04)x10%=NZ$2608.70
                        </p>

                        <p>注：为何新西兰本地中介在收取佣金时不扣除GST呢？新西兰本地中介会收到NZ$3000的佣金，其中GST NZ$3913.04会在以后的财务报税中直接向税务局缴纳。</p>

                        <h4 name="q12" id="q12">为什么最终佣金不同于先期佣金显示？</h4>
                        <p>先期佣金是以申请人数为计算基数，最终佣金是以实际入学人数为计算基数。<br/>
                            最终佣金不同于先期佣金显示仅可能出现在某些有奖励制度的院校中。
                        <p>例：<br/>院校A推出的奖励制度如下：<br/>
                        <table>
                            <tr>
                                <th>人数</th>
                                <th>佣金</th>
                            </tr>
                            <tr>
                                <td>1-10</td>
                                <td>10%</th>
                            </tr>
                            <tr>
                                <td>11-</td>
                                <td>15%</td>
                            </tr>
                        </table>
                        </p>
                        <p>
                        <table>
                            <tr>
                                <th>入学日期</th>
                                <th>申请人数</th>
                                <th>实际入学人数</th>
                                <th>佣金</th>
                                <th>最终佣金</th>
                            </tr>
                            <tr>
                                <td>2015年2月</td>
                                <td>15</th>
                                <td>9</td>
                                <td>15%</td>
                                <td>10%</td>
                            </tr>
                        </table>
                        </p>
                        <h4 name="q13" id="q13">何时进行佣金结算？</h4>
                        <p>佣金结算是指EZ4Agent向用户支付返佣。EZ4Agent每月5日结算一次，结算范围以上月所收到的院校返佣为准。</p>
                        <p>例：<br/>1月1日—31日，共收到3所学校30个申请的返佣。2月5日，EZ4Agent将向该30个申请所属的用户支付返佣。用户应该会在其后1-2个工作日收到钱款。</p>

                        <h4 name="q14" id="q14">佣金结算货币</h4>
                        <p>以院校支付货币为准。</p>

                    </div>
                </div>
            </div>
        </div>
    </section>
    <include file="Public:footer" />
</section>
<script>
    function form_top(){
        document.write('<div id="form_top"><a href="#_top" title="回到顶部"><div class="top_img"></div></a></div>')
    }
    form_top();
</script>
</body>
</html>